body {
  max-width: 375px;
  margin: auto;
  background: var(--black);
  color: var(--yellow);
  --marge: 0 10px;
  --yellow: #E3B127;
  --black: #010200;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 15px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  margin: var(--marge);
}



.text-perso {
  padding-right: 10px;
  max-width: 65%;
}

h1 {
  font-family: 'Unbounded', cursive;
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  margin: 0 0 10px;
  padding: 5px;
}

.mer {
  margin-bottom: 0;
  margin-top: 80px;
}

.column img {
  margin-top: 20px;
}

.music,
.synopsis {
  background-color: var(--yellow);
  margin-top: 0;
  color: var(--black);
  padding: var(--marge);
  padding-top: 10px;
}

iframe {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 20px;
}

.title-ari {
  background-color: var(--yellow);
  color: var(--black);
}

.ari-city {
  margin-top: 200px;
}

.bio {
  padding-top: 10px;
}

.text {
  margin: var(--marge);
  margin-top: 40px;
}

.gif {
  margin: auto;
  padding: 100px 0;
  width: 150%;
}

h2 {
  text-align: center;
  font-family: 'Unbounded', cursive;
  font-size: 40px;
}

.synopsis p {
  padding: 0 10px 60px;
}

footer p {
  padding: 70px;
  text-align: center;
  font-size: 11px;
}

footer img {
  padding-bottom: 1px;
}